:root {
    // colors
    --hero-title-cl                  :#000000;
    --hero-subtitle-cl               :#000000;
    --button-cl                      :#F7941E;
    --nav-text-cl                    :#000000;
    --logo-cl                        :#000000;
    --section-title-cl               :#000000;
    --section-subtitle-cl            :#000000;
    --card-title-cl                  :#000000;
    --see-more-cl                    :#000000;     
    --cta-title-cl                   :#000000;
    --cta-button-cl                  :#000000;      
    --blog-name-cl                   :#FFFFFF; 
    --blog-title-cl                  :#FFFFFF;
    --read-more-cl                   :#FFFFFF;
    --blog-cards-title-cl            :#000000;
    --blog-cards-subtitle-cl         :#000000;
    --blog-cards-read-more-cl        :#000000;
    --footer-nav-cl                  :#000000;
    --footer-logo-cl                 :#F7941E;
    --copy-right-cl                  :#000000;
    
    // background
    --slider-bg                      :#F1F1F2;
    --card-cont-bg                   :#FAFAFA;
    --cta-bg                         :#F7941E;
    --blog-cont-bg                   :#231F20;
    --footer-bg                      :#FAFAFA;
    --menu-bg                        :#FAFAFA;
    // border
    --button-brd                     :#F7941E;
    --cta-button-brd                 :#000000;
    --footer-brd-btm                 :#000000;

    //hover-cl
    --hover-button-bg                :#F7941E;
    --hover-button-cl                :#FFFFFF;
    --hover-nav-cl                   :#F7941E;
    --hover-card-bg                  :#FFFFFF;
    --hover-cta-button-bg            :#000000;
    --hover-cta-button-cl            :#FFFFFF;
    --hover-footer-nav               :#F7941E;
    --hover-close-btn                :#F7941E;
    
}