.blog-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-cont{
    display: flex;
    align-items: center;
    background: var(--blog-cont-bg);
    max-width: 1170px;
    margin-bottom: 40px;
}

.subtitle-cont{  
    padding-left: 78px;
    padding-right: 200px;
}

.blog-name{
    @include custom-text (14px, normal, 20px, var(--blog-name-cl));
    margin-bottom: 27px;
}

.blog-title{
    @include custom-text (48px, normal, 58px, var(--blog-title-cl));
    margin-bottom: 60px;
}

.read-more{
    @include custom-text (18px, normal, 25px, var(--read-more-cl));
    text-decoration: none;
}

.blog-cards{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    &>li{
        padding: 50px 48px;
        max-width: 570px;
    }

    &>li:hover, li:focus{
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }
}

.blog-crads-title{
    @include custom-text (24px, normal, 34px, var(--blog-cards-title-cl));
}

.blog-cards-subtitle{
    @include custom-text (18px, normal, 25px, var(--blog-cards-subtitle-cl));
    margin-top: 16px;
    margin-bottom: 16px;
}

.blog-cards-read-more{
    @include custom-text (14px, normal, 20px, var(--blog-cards-read-more-cl));
    text-decoration: none;
}