.cta-title{

    @media screen and (min-width:1200px){
    @include custom-text (32px, normal, 45px, var(--cta-title-cl));
    }
}

.cta-display{

    background: var(--cta-bg);

    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 15px ;
        padding-right: 15px;
        margin:0 auto;
    }    
}

.cta-cont{

    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 20px;
    text-align: center;

    & li {
        margin-right: 15px;
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-evenly;
    }
    

    @media screen and (min-width:1200px) {
        display: block;
        justify-content: start;
        padding: 80px 0 69px 0;
        margin: 0;
    }
}