.cards-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    &>li{
        margin-right: 30px;
        list-style-type: none;
    }

    &>li:last-child{
        margin-right: 0;
    }
}

.card-description-cont{
    background: var(--card-cont-bg);
    padding: 24px 0 24px 24px;

    &:hover, &:focus{
        background: var(--hover-card-bg);
        filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
    }
}

.card-title{
    @include custom-text (20px, normal, 24px, var(--card-title-cl));
    margin-bottom: 74px;
}

.see-more{
    @include custom-text (14px, normal, 19px, var(--see-more-cl));
}